.about {

  &-mobile {
    display:none;

    @include bp-medium {
      display: block;
    }

    &-mobileCv {
        text-align: center;
        margin: 3% 0;
    }

    &-svgMobile {
      @include bp-medium {
        width: 100%;
        margin: 5% 0;
      }

      @include bp-small {
        width: 100%;
        margin: 5% 0;
      }
    }
  }

  &-desktop {
    @include bp-medium {
      display: none;
    }

    &-intro {
      &-mainContent {
        margin: 0 5%;

        &-back {
          position: absolute;
          margin-left: 35px;
        }

        &-scrollIt {
          animation: toBottom 0.5s infinite;
          position :relative;
        }

        &-emptySpace {
          width: 100%;
          height: 3000px;
          position: relative;
        }
      }

      &-warmUp {
        background-color: $light-white;
        padding: 5% 0%;
      }

      &-startingBlock {
        padding: 5% 0%;
      }
    }
  }
}

.headForm {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  padding: 6%;

  @include bp-medium {
    font-size: 2.8em;
  }
}

@keyframes toBottom {
  0% {
    top: 0px;
  }

  50% {
    top: 20px;
  }

  100% {
    top: 0px;
  }
}
