.buttonstyle {
  background-color: $orange;
  text-transform: uppercase;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  // font-family: 'Montserrat', sans-serif;
  transition: background-color 0.3s;
  border-radius: 30px;
  font-weight: 600;
  cursor: url('../img/cursor.png'), auto;

  &:hover {
    background-color: $dark-orange;
  }

  &:visited, &:active, &:focus{
    color: $white;
  }

}
