.notfound {
  &-intro {
    padding: 3% 0%;
    text-align: center;

    &-headForm {
      text-align: center;
      font-size: 4em;
      font-weight: bold !important;
      padding: 5% 6% 3% !important;

      @include bp-small {
        font-size: 2.8em;
      }
    }

    &-icon {
      display: block;
      width: 20%;
      margin: 0 auto;
      padding-bottom: 35px;
    }
  }
}
