// Colors
$light-black: #111;
$black: #000;
$light-orange: #ffb170;
$orange: #F49342;
$dark-orange: #C05717;
$white: #fff;
$light-white: #f3f3f3;
$light-grey: #bfbfbf;
$light-brown: #333333;
$medium-brown: #523800;

// Fonts
$font-chrono : 'ChronoType';
